th{
    text-align: center;
    padding: 10px;
    border: 3px solid blue;
}
th:nth-child(1) {
    background-color: green;
}

th:nth-child(2) {
    background-color: #0000FF;
}

th:nth-child(3) {
    background-color: rgb(255, 255, 0);
}

th:nth-child(4) {
    background-color: rgb(40, 255, 194);
}